@media (max-width:1440px) {
    .generator {
        width: 500px;
    }

    #search-bar {
        width: 400px;
    }

    .gen-btn {
        width: 450px;
    }

    .mini-container {
        height: 40%;
        width: 40%;
    }

    .mini-container2 {
        height: 350px;
    }

    .sample {
        width: 300px;
    }

    .about-container-img {
        width: 400px;
        height: inherit;
    }

    .social {
        margin: 14px auto;
    }
}

@media (max-width:1024px) {
    ul li a {
        margin-right: 75px;
        font-size: 18px;
    }

    .landing {
        flex-direction: column;
        flex-wrap: unset;
    }

    .generator {
        width: 600px;
        margin: 50px auto;
    }

    .gifs {
        margin: 50px auto;
    }

    .about-container-p {
        margin: 100px;
    }

    footer {
        margin-top: 100px;
    }
}

@media (max-width:768px) {
    ul li a {
        margin-right: 32px;
        font-size: 16px;
    }

    header img {
        height: 110px;
        margin: 25px;
    }

    .gifs {
        width: fit-content;
    }
}



@media (max-width: 450px) {
    body {
        background:rgba(0, 0, 0, 0.7) url("https://developers.giphy.com/branch/master/static/api-512d36c09662682717108a38bbb5c57d.gif");
        background-blend-mode: darken;
    }
    
    ul {
        display: block;
        margin-top: 24px;
    }

    ul li a {
        color: white;
        padding-bottom: 12px;
        font-size: 16px;
        margin-right: 0;
    }

    header img {
        height: 126px;
    }

    .decription p {
        font-size: 14px;
        width: 90%;
    }

    .decription h1 {
        font-size: 36px;
    }

    .apiGif img {
        height: 225px;
        margin: 0;
        margin-top: 50px;
    }

    .landing {
        width: fit-content;
    }

    .generator {
        margin: 16px;
        height: 675px;
        width: fit-content;
        border: none;
    }

    .generator h2 {
        font-size: 20px;
    }

    #catarogies {
        flex-wrap: wrap;
        width: inherit;
        margin-top: 24px;
        height: 50px;
    }

    .type {
        border: solid 2px #A91079;
        width: 100px;
        height: inherit;
        z-index: 10;
    }

    .size {
        margin-top: 100px;
    }

    .sample {
        width: 375px;
        height: 75%;
    }

    .size select {
        width: 200px;
        height: 32px;
        margin-left: 0;
    }

    .count {
        flex-wrap: wrap;
        width: 200px;
        margin-left: 16px;
        margin-top: 16px;
    }

    #search-bar {
        font-size: 14px;
        width: 320px;
        padding: 16px;
        border-radius: 8px;
        margin-left: 8px;
    }

    .gen-btn {
        width: 350px;
    }

    .gifs {
        width: fit-content;
        margin: 0;
        margin-top: 100px;
    }

    .mini-container {
        width: 100%;
    }

    .gif {
        height: 75%;
        width: 100%;
        border-radius: 6px;
        transition: .3s;
    }
    
    #q-mark {
        display: none;
    }
    
    #gen-discover {
        width: fit-content;
    }

    .mini-container2 {
        padding: 0;
    }

    
    #about {
        width: 450px;
        padding: 12px;
    }

    .about-container {
        width: fit-content;
        height: inherit;
        padding-bottom: 32px;
    }

    .about-container-p {
        width: 400px;
        height: inherit;
        margin: 12px;
    }
    
    .about-container-img {
        width: 400px;
        height: inherit;
    }
    
    .about-container-p p {
        color: #d0d6f9;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        text-align: left;
        padding-bottom: 32px;
        padding-top: 32px;
    }
    
    .inabout {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 75px;
    }
    
    .about-container-img img {
        width: 100%;
        height: fit-content;
        border-radius: 4px;
        transition: .3s;
        margin: 0;
    }
    
    .about-container-img img:hover {
        opacity: 0.6;
    }
    
    .about-container h1 {
        color: white;
        display: inline-block;
        letter-spacing: 5px;
        font-size: 45px;
        font-weight: bold;
        transition: .3s;
    }
    
    .about-container h1:hover {
        color: #A91079;
        cursor: unset;
    }
    
    .about-container a {
        color: #A91079;
        text-decoration: none;
    }
 
    #contact {
        margin-top: 300px;
        height: fit-content;
    }

    .special-heading {
        color: white;
        font-size: 64px;
        padding: 24px;
        margin-left: 0;
    }

    #stp {
        color: #a91079;
        font-size: 32px;
        text-align: center;
        padding: 16px;
        margin: 0;
        width: 100%;
        margin-top: 50px;
        border: none;
    }

    .mail {
        margin: 45px;
    }

    .mail h1 {
        color: #d0d6f9;
        padding: 24px;
        text-align: center;
        font-size: 14px;
    }

    .mail address a {
        color: #d0d6f9;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 24px;
        letter-spacing: 3px;
        font-style: normal;
        transition: .3s;
    }

    
    .mail p {
        color: #d0d6f9;
        font-size: 18px;
        text-align: center;
        padding: 32px;
        font-weight: bold;
    }


    .social {
        height: fit-content;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    footer {
        margin-top: 300px;
        background-color: #570a57;
        padding: 1px;
    }

    footer h1 {
        font-size: 14px;
    }
}